[submodule "assets/sweet-scroll"]
	path = assets/sweet-scroll
	url = git@github.com:tsuyoshiwada/sweet-scroll.git
	
[submodule "assets/scrollreveal"]
	path = assets/scrollreveal
	url = git@github.com:jlmakes/scrollreveal.git
	