[submodule "assets/sweet-scroll"]
	path = assets/sweet-scroll
	url = https://github.com/tsuyoshiwada/sweet-scroll.git
	
[submodule "assets/scrollreveal"]
	path = assets/scrollreveal
	url = https://github.com/jlmakes/scrollreveal.git
	