.noPadding {
    margin: 0px !important;
}

.landingJumbo {
    position: relative;
    height: calc(100vh - 56px);
    background-image: url('assets/coding-bg-1.jpg');
    background-size: auto auto;
}

.fullHeightJumbot{
    height: 100vh;
}

.jumboOverlay{
    background: rgba(0, 0, 0, .87);
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

body {
    overflow-x: hidden;
} 

.bg-black {
    background-color: black;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2.6px rgba(0,0,0,0.5); 
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightgray;
}