@import 'color-scheme.css';
@import 'proportions.css';

/* Removes Padding */
.noPadding {
    margin: 0px !important;
}

.verticalAlign{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Fix for the Fixed Navbar spacing */
header {
    margin-top: 56px;
}

/* First Section of the Page */
.landingJumbo {
    position: relative;
    height: calc(100vh - 56px);
    background-color: #263238;
    /* background-image: url('assets/bg-desk.jpg'); */
    background-size: auto 100vh;
}

/* Sets to full height of the current viewport */
.fullHeight {
    height: 100vh;
}

/* Sets to full height minus the size of the nav */
.fullHeightNav {
    height: calc(100vh - 56px);
}

/* Creates a darken overlay above an element */
.jumboOverlay {
    /* background: rgba(0, 0, 0, .1); */
    /* font-family: Consolas; */
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.overlay-header {
    font-size: 90px;
}

.overlay-sub-header {
    font-size: 60px;
}

/* General Styles */
body {
    overflow-x: hidden;
} 

/* Styling the Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2.6px rgba(0,0,0,0.5); 
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: lightgray;
}

/* Animated Text */
.animatedCaret {
    margin-left: 5px;
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

/* Caret Animation */
@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/* Prevent Content to Overflow out of the Jumbo Element */
.jumbotron {
    overflow: hidden;    
}

/* Fixer for the .gradient-focus element */
.content-wrapper {
    z-index: 1;
    margin-top: 28vh;
    text-shadow: 2px 1px rgba(0,0,0,0.6);
}

/* Gradient Background Focus */
.gradient-focus {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 100vh;
    transform: skewY(-8deg);
    color: #fff;
}

/* Container for the avatar image */
.avatar-wrapper {
    position: relative;
    height: 250px;
    width: auto;
}

.pointer-box {
    position: relative;
    border: 2px solid #263238;
    box-sizing: border-box;
}

.pointer-box:after {
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 0px solid #263238;
    border-left: 2px solid #263238;
    border-right: 0px solid #263238;
    border-bottom: 2px solid #263238;
    top:calc(50% - 25px);
    right:100%;
    margin-right: -24px;
    content: '';
    transform: rotate(45deg);
    background: #E9ECEF;

}

.pointer-box > p {
    margin-top: 25px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif; 
    font-size: 22px; 
    color: #263238;
}