    /*
    Flaticon icon font: Flaticon
    Creation date: 19/04/2018 08:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-code-5:before { content: "\f100"; }
.flaticon-002-mobile:before { content: "\f101"; }
.flaticon-003-browser-2:before { content: "\f102"; }
.flaticon-004-browser-1:before { content: "\f103"; }
.flaticon-005-code-4:before { content: "\f104"; }
.flaticon-006-flowchart:before { content: "\f105"; }
.flaticon-007-coding-7:before { content: "\f106"; }
.flaticon-008-development:before { content: "\f107"; }
.flaticon-009-css-1:before { content: "\f108"; }
.flaticon-010-coding-6:before { content: "\f109"; }
.flaticon-011-coding-5:before { content: "\f10a"; }
.flaticon-012-process-1:before { content: "\f10b"; }
.flaticon-013-process:before { content: "\f10c"; }
.flaticon-014-css:before { content: "\f10d"; }
.flaticon-015-api-1:before { content: "\f10e"; }
.flaticon-016-code-3:before { content: "\f10f"; }
.flaticon-017-app:before { content: "\f110"; }
.flaticon-018-coding-4:before { content: "\f111"; }
.flaticon-019-coding-3:before { content: "\f112"; }
.flaticon-020-planning:before { content: "\f113"; }
.flaticon-021-code-2:before { content: "\f114"; }
.flaticon-022-browser:before { content: "\f115"; }
.flaticon-023-coding-2:before { content: "\f116"; }
.flaticon-024-code-1:before { content: "\f117"; }
.flaticon-025-api:before { content: "\f118"; }
.flaticon-026-code:before { content: "\f119"; }
.flaticon-027-php:before { content: "\f11a"; }
.flaticon-028-programming:before { content: "\f11b"; }
.flaticon-029-coding-1:before { content: "\f11c"; }
.flaticon-030-coding:before { content: "\f11d"; }
    
    $font-Flaticon-001-code-5: "\f100";
    $font-Flaticon-002-mobile: "\f101";
    $font-Flaticon-003-browser-2: "\f102";
    $font-Flaticon-004-browser-1: "\f103";
    $font-Flaticon-005-code-4: "\f104";
    $font-Flaticon-006-flowchart: "\f105";
    $font-Flaticon-007-coding-7: "\f106";
    $font-Flaticon-008-development: "\f107";
    $font-Flaticon-009-css-1: "\f108";
    $font-Flaticon-010-coding-6: "\f109";
    $font-Flaticon-011-coding-5: "\f10a";
    $font-Flaticon-012-process-1: "\f10b";
    $font-Flaticon-013-process: "\f10c";
    $font-Flaticon-014-css: "\f10d";
    $font-Flaticon-015-api-1: "\f10e";
    $font-Flaticon-016-code-3: "\f10f";
    $font-Flaticon-017-app: "\f110";
    $font-Flaticon-018-coding-4: "\f111";
    $font-Flaticon-019-coding-3: "\f112";
    $font-Flaticon-020-planning: "\f113";
    $font-Flaticon-021-code-2: "\f114";
    $font-Flaticon-022-browser: "\f115";
    $font-Flaticon-023-coding-2: "\f116";
    $font-Flaticon-024-code-1: "\f117";
    $font-Flaticon-025-api: "\f118";
    $font-Flaticon-026-code: "\f119";
    $font-Flaticon-027-php: "\f11a";
    $font-Flaticon-028-programming: "\f11b";
    $font-Flaticon-029-coding-1: "\f11c";
    $font-Flaticon-030-coding: "\f11d";